#top-wrapper {
    padding: 130px 0 130px 0;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    background-color: #4682B4;
}

#top-wrapper h1 {
    opacity: 1.0;
    font-size: 45px;
    letter-spacing: 5px;
    font-weight: 400;
}